<div class="spacer"></div>

<div class="pricecontainer">
  <div class="topparagraph">
    <p>Whether you’re looking for a bit of assistance or a complete overhaul, we have a variety of packages for you to choose from:</p>
  </div>
  <div class="pricetable">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-block low">
            <h4 class="card-title ">Basic</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">14 tweets p/wk</li>
            <li class="list-group-item">3 facebook posts p/wk</li>
            <li class="list-group-item">3 instagram posts p/wk</li>
            <li class="list-group-item">One blog post for your website pw</li>
            <li class="list-group-item"> Monthly Consultation</li>
          </ul>
          <div class="card-block">
            <a routerLink="/contact" class="card-link">£329 mo.</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-block medium">
            <h4 class="card-title ">Standard</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">28 tweets p/wk</li>
            <li class="list-group-item">7 facebook posts p/wk</li>
            <li class="list-group-item">7 instagram posts p/wk</li>
            <li class="list-group-item"> One blog post for your website pw</li>
            <li class="list-group-item"> Bi-monthly Consultation </li>
          </ul>
          <div class="card-block">
            <a routerLink="/contact" class="card-link">£449 mo.</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-block high">
            <h4 class="card-title ">Premium</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">28 tweets p/wk</li>
            <li class="list-group-item">7 facebook posts p/wk</li>
            <li class="list-group-item">7 instagram posts p/wk</li>
            <li class="list-group-item"> One blog post for your website pw</li>
            <li class="list-group-item"> Bi-monthly Consultation for two businesses</li>
          </ul>
          <div class="card-block">
            <a routerLink="/contact" class="card-link">£569 mo.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>