<div id='container'>
  <h2 class='contact-form'>Contact us</h2>
  <form ng-submit='addMessage' action="index.html" method='post'>
    <label for="name">Name:</label>
    <input type="text" id='name' ng-model='todoMessage' placeholder='Irwin Litvak'/>
    <label for="email">Email:</label>
    <input type="email" id='email' placeholder='email@gmail.com'/>
    <label for="msg">Messages:</label>
    <textarea name="messages" id="msg" cols="30" rows="5" placeholder='Type something here!'></textarea>
    <input type="submit"/>
  </form>
</div>