<div class="spacer"></div>

<div class="maxwidth">
  <div class="hideoverflow">

    <div class="div1" [@slideAnimation]='state1'>
    <img   class="im" src="https://lorempixel.com/300/300/business" alt="Random second slide">
    <img class="im"  src="https://lorempixel.com/300/300/transport" alt="Random second slide">
    <img   class="im" src="https://lorempixel.com/300/300/nightlife" alt="Random second slide">
    <img class="im"  src="https://lorempixel.com/300/300/city" alt="Random second slide">
  </div>

  <div class="div2" [@slideAnimation]='state2' >
    <img  class="im" src="https://lorempixel.com/300/300/cats" alt="Random second slide">
    <img class="im"  src="https://lorempixel.com/300/300/transport" alt="Random second slide">
    <img  class="im" src="https://lorempixel.com/300/300/nightlife" alt="Random second slide">
    <img class="im"  src="https://lorempixel.com/300/300/city" alt="Random second slide">
    </div>

  </div>
</div>

<div class="spacer"></div>