
.im{
  width:8.32%;
  height: 100%;
  overflow: hidden;
  padding:1em;
  border-radius: 2em;
  -webkit-filter: grayscale(0.4) hue-rotate(5deg);
  filter: grayscale(0.4) hue-rotate(5deg) ;
}

.hideoverflow{
  margin-right:-100%;
  margin-left:-200%;
  width: 300%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.8);
  padding-top: 1em;
  padding-bottom: 1em;
}

.div2{
  margin-top:-8.32%;
  padding-left: 1.5em;
    padding-right: 1.5em;

}



.div1{

  padding-left: 1em;
    padding-right: 1em;
}

.spacer{
  height: 150px;
}